.backed-section {
  width: var(--width);
  margin: 0 auto;
  img {
    object-fit: scale-down;
  }
  strong {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
  }
}
.backed {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0 100px 0;
}
