.hero {
  height: 800px;
  background: url("../../../public/assets/cover.svg") center/cover no-repeat !important;
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding-top: 205px;
  align-items: center;
  text-align: center;
  color: #fffbf6;
  position: relative;
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 20px;
    max-width: 578px;
  }
  margin-bottom: 413px;
}
.video {
  background-color: grey;
  width: var(--width);
  height: 674px;
  position: absolute;
  top: calc(100% - 261px);
}
