.hero {
  height: 800px;
  background: url("../../../public/assets/cover.webp") center/cover no-repeat !important;
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding-top: 205px;
  align-items: center;
  text-align: center;
  color: #fffbf6;
  position: relative;
  margin-bottom: 413px;
  @media (max-width: 1200px) {
    margin-bottom: 150px;
  }
  @media (max-width: 800px) {
    height: 600px;
    padding-top: 120px;
    margin-bottom: 125px;
  }
  @media (max-width: 600px) {
    margin-bottom: 0px;
  }
  h1 {
    font-size: 58px;
    @media (max-width: 800px) {
      font-size: 44px;
    }
  }
  h2 {
    font-size: 20px;
    max-width: 578px;
    @media (max-width: 800px) {
      font-size: 16px;
    }
  }
}
.video {
  background-color: grey;
  width: var(--width);
  height: 674px;
  position: absolute;
  top: calc(100% - 261px);
  border-radius: var(--br);
  overflow: hidden;
  @media (max-width: 1200px) {
    height: 500px;
  }
  @media (max-width: 800px) {
    top: calc(100% - 160px);
    height: 350px;
  }
  @media (max-width: 600px) {
    top: calc(100% - 120px);
    height: 200px;
  }
}
