:root {
  --max-width: 1200px;
  --width: clamp(300px, 90%, var(--max-width));
  --blue-nowa: #0e1a2f;
  --blue-nowa-rgb: 14 26 47;
  --yellow-nowa: #ffae45;
  --yellow-nowa-rgb: 255 174 69;
  --accent-nowa: #9ce6d9;
  --bg-nowa-grey: #e6ebea;
  --text-color-main: var(--blue-nowa);
  --text-color-sub: #747474;
  --br: 20px;
  --color-hover-button-navbar: rgba(122, 169, 250, 0.2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  all: unset;
  cursor: pointer;
}
html {
  color: var(--text-color-main);
  background-color: var(--bg-nowa-grey);
}
body {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
