.step-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: row-reverse;
  }
}
.step-image {
  position: relative;
  width: 100%;
  max-width: 237px;
  height: 167px;
  @media (max-width: 800px) {
    width: 125px;
    height: 125px;
  }
  img {
    object-fit: scale-down;
  }
}

.step-text {
  background-color: var(--blue-nowa);
  color: white;
  border-radius: var(--br);
  padding: 18px;
  max-width: 210px;
  text-align: center;
  position: relative;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  p {
    position: absolute;
    top: -15px;
    border-radius: 8px;
    left: -15px;
    background-color: var(--yellow-nowa);
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-weight: bold;
  }
}
