.header-wrapper {
  background-color: rgb(var(--blue-nowa-rgb) / 0.5);
  backdrop-filter: blur(12px);
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.header {
  width: var(--width);
  margin: 0px auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
}
.links {
  display: flex;
  align-items: center;
  gap: 16px;
  @media (max-width: 1200px) {
    display: none;
  }
}
