nav {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  width: 100vw;
  display: grid;
  place-items: center;
  height: 140px;
  min-height: 140px;
  z-index: 100;
  position: relative;
  img {
    user-select: none;
  }
  .menu-toggle {
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  ul {
    &:nth-child(1) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      gap: 50px;
      @media (max-width: 915px) {
        display: none;
      }
    }
  }
  li {
    font-family: "Albert Sans", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    .nav-access {
      width: 220px;
      height: 56px;
      background-color: var(--color-main);
      font-family: "Albert Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      display: grid;
      place-items: center;
      border-radius: 16px;
      color: var(--color-blue);
    }
  }

  .mobile-menu {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    @media (max-width: 915px) {
      display: flex;
    }
  }
  .menu-icon {
    color: white;
    font-size: 32px;
    cursor: pointer;
  }
  .menu-mobile {
    background-color: var(--color-yellow);
    width: 100%;
    position: absolute;
    bottom: -60px;
    list-style: none;
    left: 0;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 0%;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.3, 1);
    transform: scale3d(0.7, 0.3, 1);
    user-select: none;
    pointer-events: none;

    li {
      width: 100%;
    }
  }
  .menu-visible {
    @media (max-width: 915px) {
      -webkit-transform: inherit;
      transform: inherit;
      user-select: none;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
