.wrapper {
  width: var(--width);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 150px auto;
  h1,
  h2 {
    max-width: 760px;
  }
  h1 {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* blue nowa */

    color: #0e1a2f;
  }
  h2 {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    /* blue nowa */

    color: #0e1a2f;
  }
}
